<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>EfetuarLogin</servlet-name>
        <servlet-class>controle.EfetuarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>controle.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controle.InserirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controle.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controle.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controle.InserirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controle.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controle.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerirMenuPerfil</servlet-name>
        <servlet-class>controle.GerirMenuPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirServico</servlet-name>
        <servlet-class>controle.InserirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarServico</servlet-name>
        <servlet-class>controle.AlterarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirServico</servlet-name>
        <servlet-class>controle.ExcluirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerirServicoCliente</servlet-name>
        <servlet-class>controle.GerirServicoCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EfetuarLogin</servlet-name>
        <url-pattern>/efetuarLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/excluirUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserirPerfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterarPerfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluirPerfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserirMenu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterarMenu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluirMenu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerirMenuPerfil</servlet-name>
        <url-pattern>/gerirMenuPerfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirServico</servlet-name>
        <url-pattern>/inserirServico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarServico</servlet-name>
        <url-pattern>/alterarServico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirServico</servlet-name>
        <url-pattern>/excluirServico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerirServicoCliente</servlet-name>
        <url-pattern>/gerirServicoCliente.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
